* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.app-container {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 100%;
}

//Breakpoints:

$mobileBreakpoint: 620px;

// Theming:

.tomorrow {
    $bgColor: #313131;
    $navColor: #181818;
    $accentColor: #6f6f6f;
    $greentextColor: #b5bd68;
    $normalTextColor: #c5c8c6;
    $btnColor: #2f2f2f;
    $btnColorHover: #3f3f3f;
    $btnColorActive: #444;
    $btnTextColor: #9e9e9e;
    $btnBorderRadius: 5px;
    $menuWidth: 320px;

    @at-root {
        body {
            background-color: $bgColor;
        }
    }

    .reader-view {

        .navbar-container {
            position: fixed;
            z-index: 99;
            flex-direction: column;
            width: $menuWidth;
            height: 100%;
            top: 0;
            right: 0;
            max-width: 100%;

            @media (max-width: $mobileBreakpoint) {
                position: fixed;
                width: 100%;
                top: 0;
                transition: 0.3s ease-out;
            }

            &.hidden {
                @media (max-width: $mobileBreakpoint) {
                    top: calc(100vh - 32px);
                }
            }
        }

        .main-content-wrapper {
            background-color: $bgColor;
            position: absolute;
            min-height: 100%;
            max-height: fit-content;
            width: 100%;
            padding-right: $menuWidth;
            z-index: 1;

            @media (max-width: $mobileBreakpoint) {
                padding-right: 0;
            }
        }

        .text-wrapper {
            background-color: $bgColor;
            position: relative;
            margin: auto;
            padding-top: 2em;
            padding-bottom: 100px;
            width: 60%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 140%;

            @media (max-width: $mobileBreakpoint) {
                width: 80%;
            }

            .green-text {
                color: $greentextColor
            }

            .normal-text {
                color: $normalTextColor
            }
        }

        /* Loader (Courtesy of loading.io): */
        .loader-wrapper {
            position: absolute;
            display: flex;
            width: calc(100% - $menuWidth);
            transform: translate(0, calc(50vh - 64px));
        }

        .lds-dual-ring {
            margin: auto;
            display: inline-block;
            width: 64px;
            height: 64px;
        }

        .lds-dual-ring:after {
            border: 1px solid $btnTextColor;
            border-color: $btnTextColor transparent $btnTextColor transparent;
            content: "";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 100%;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        .dialogue-container {
            display: flex;
            /* background-color: rgb(0, 0, 0, 0.9); */
            position: fixed;
            z-index: 100;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .navbar {
        background-color: $navColor;
        display: flex;
        justify-content: space-between;
        border-left: 1px solid $accentColor;

        @media (max-width: $mobileBreakpoint) {
            border: none;
        }

        .navbar-puller {
            display: none;
            color: $accentColor;
            justify-content: center;
            align-items: center;
            height: 33px;
            border-top: 1px solid $accentColor;
            cursor: default;
            user-select: none;

            @media (max-width: $mobileBreakpoint) {
                display: flex;
            }
        }

        .navbar-story-list-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            max-height: 100%;
            overflow: scroll;
            z-index: 99;
            .navbar-story {
                display: flex;
                align-items: center;
                font-size: 14px;
                justify-content: space-between;
                padding-right: 16px;
                background-color: $navColor;
                color: $btnTextColor;
                min-height: 48px;
                max-height: 48px;
                width: 100%;
                border: none;
                outline: 1px solid $accentColor;

                &-button {
                    display: flex;
                    border: none;
                    align-items: center;
                    background-color: transparent;
                    height: 100%;
                    width: 100%;
                    color: $btnTextColor;
                    margin: 0;
                    padding-inline: 16px;
                }

                &-delete-button {
                    display: flex;
                    border: none;
                    background-color: transparent;
                    color: $accentColor;
                    margin: 0;
                    padding: 0;
                    opacity: 0;
                }

                &:last-child {
                    border-bottom: 1px solid $accentColor;
                }
    
                &:hover {
                    background-color: $bgColor;

                    .navbar-story-delete-button {
                        opacity: 1;

                        &:hover {
                            color: $btnTextColor;
                        }
                    }
                }
    
                &.selected {
                    background-color: $bgColor;
                } 
            }
        }

        .navbar-controls {
            outline: 1px solid $accentColor;

            .font-size-controls {
                display: flex;

                button {
                    width: 100%;
                }
            }

            .dropdown-controls {
                display: flex;
                flex-direction: column;
                padding: 32px;
                padding-left: 20px;
                gap: 32px;

                .dropdown-wrapper {
                    display: flex;
                    align-items: center;

                    .navbar-icon {
                        color: $btnTextColor !important;
                    }

                    .select-border {
                        outline: 1px solid $accentColor;
                        padding: 0;
                        margin-left: 20px;
                        width: 100%;
                    }

                    select.navbar-input {
                        padding-inline: 14px;
                        border-right: 16px solid transparent;
                        border-bottom: none;
                        font-size: 14px;
                    }
                }
            }
        }

        .navbar-input {
            background-color: $btnColor;
            color: $btnTextColor;
            height: 48px;
            width: 100%;
            border: none;
            outline: 1px solid $accentColor;

            &:active {
                background-color: $btnColorActive;
            }

            &:hover {
                background-color: $btnColorHover;
            }
        }

        button.navbar-input {
            min-width: 38px;
            width: 38px;
        }

        #add-stories-btn {
            width: 100%;
            font-size: 1.15em;
            margin-right: 0.5em;
        }
    }

    .dialogue {
        color: $btnTextColor;
        background-color: $navColor;
        outline: 1px solid $accentColor;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;

        &-header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            outline: 1px solid $accentColor;
        }


        &-title {
            color: $btnTextColor;
            font-weight: normal;
            margin-left: 8px;
        }

        &-close-button {
            outline: 1px solid $accentColor;
            padding: 0;
            margin: 0;
            display: flex;
            height: 38px;
            width: 38px;
            align-items: center;
            justify-content: center;
            color: $accentColor;
            background-color: transparent;
            border: none;

            &:hover {
                color: $btnTextColor;
            }
        }
    }

    .importer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1.5em 1.5em 1.5em;

        input[type="file"] {
            display: block;
            background-color: transparent;
        }

        input {
            color: $btnTextColor;
            padding: 1em;
            width: 100%em;
            margin: auto;
            margin-bottom: 32px;
        }

        .regular-button {
            background-color: transparent;
            color: $btnTextColor;
            outline: 1px solid $accentColor;
            padding: 0.7em 1.2em;
            height: 100%;
            border: none;
            margin: auto;

            &:hover,
            &:active {
                background-color: $btnColorHover;
            }
        }
    }
}

.yoitsuba {
    $bgColor: #f0e0d6;
    $navColor: #e4c8b6;
    $accentColor: maroon;
    $greentextColor: #789922;
    $normalTextColor: maroon;
    $btnColor: #fed;
    $btnColorHover: rgb(250, 223, 202);
    $btnColorActive: rgba(255, 101, 45, 0.225);
    $btnTextColor: #000;
    $deleteButtonColor: #a22727;
    $btnBorderRadius: 5px;

    .reader-view {

        .navbar-container {
            position: fixed;
            z-index: 99;
            width: 100vw;
            bottom: 0;
            max-width: 100%;
        }

        .main-content-wrapper {
            background-color: $bgColor;
            position: absolute;
            min-height: 100%;
            max-height: fit-content;
            width: 100%;
            z-index: 1;
        }

        .text-wrapper {
            background-color: $bgColor;
            position: relative;
            margin: auto;
            padding-top: 2em;
            padding-bottom: 100px;
            width: 60%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 140%;

            .green-text {
                color: $greentextColor
            }

            .normal-text {
                color: $normalTextColor
            }
        }

        /* Loader (Courtesy of loading.io): */
        .loader-wrapper {
            position: absolute;
            display: flex;
            width: 100%;
            transform: translate(0, 40vh);
        }

        .lds-dual-ring {
            margin: auto;
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .lds-dual-ring:after {
            border: 1px solid $btnTextColor;
            border-color: $btnTextColor transparent $btnTextColor transparent;
            content: "";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 0%;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        .dialogue-container {
            display: flex;
            /* background-color: rgb(0, 0, 0, 0.9); */
            position: absolute;
            z-index: 100;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .navbar {
        background-color: $navColor;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
        padding-right: 0.25em;
        padding-block: 10px;

        .nav-items-left {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
        }

        .nav-items-right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            max-width: calc(100vw - 260px);
            overflow-x: scroll;
        }

        .logo-text {
            color: $greentextColor;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 1em;
            font-weight: lighter;
            font-size: 1.2em;
        }

        .navbar-input {
            background-color: $btnColor;
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            height: 100%;
            border: none;

            &:active {
                background-color: $btnColorActive;
            }

            &:hover {
                background-color: $btnColorHover;
            }

            &.delete {
                background-color: $deleteButtonColor;
            }

            &.selected {
                background-color: $btnColorActive;
                border: 2px solid $btnColor;
            }
        }

        select.navbar-input {
            padding-left: 1em;
            border-right: 1em solid transparent;
            padding-right: 0.8em;
        }

        button.navbar-input {
            min-width: 38px;
            width: 38px;
            margin-inline: 5px;
        }

        #add-stories-btn {
            width: 38px;
            margin-right: 0.25em;
            font-size: 1.15em;
        }
    }

    .dialogue {
        color: $btnTextColor;
        background-color: $navColor;
        border-radius: $btnBorderRadius;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;

        &-header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 1.6em;
        }


        &-title {
            color: $btnTextColor;
            font-weight: normal;
            font-size: 1.2em;
        }

        &-close-button {
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            font-size: 0.8em;
            background-color: transparent;
            border: none;
            width: 20px;
            height: 20px;

            &:hover {
                background-color: $btnColor;
            }
        }
    }

    .importer {
        input[type="file"] {
            display: block;
        }

        input {
            color: $btnTextColor;
            border: 1px solid $accentColor;
            border-radius: $btnBorderRadius;
            padding: 1em;
            width: 26em;
            margin: auto;
            margin-bottom: 1em;
        }

        .regular-button {
            background-color: $btnColor;
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            padding: 0.7em 1.2em;
            height: 100%;
            border: none;

            &:hover,
            &:active {
                background-color: $btnColorHover;
            }
        }
    }
}

.yoitsuba-b {
    $bgColor: #eef2ff;
    $navColor: #b7c5d9;
    $accentColor: rgb(160, 166, 190);
    $greentextColor: #789922;
    $normalTextColor: black;
    $btnColor: #eef;
    $btnColorHover: rgb(213, 218, 243);
    $btnColorActive: rgb(213, 218, 243);
    $btnTextColor: #000;
    $deleteButtonColor: #a22727;
    $btnBorderRadius: 5px;

    .reader-view {

        .navbar-container {
            position: fixed;
            z-index: 99;
            width: 100vw;
            bottom: 0;
            max-width: 100%;
        }

        .main-content-wrapper {
            background-color: $bgColor;
            position: absolute;
            min-height: 100%;
            max-height: fit-content;
            width: 100%;
            z-index: 1;
        }

        .text-wrapper {
            background-color: $bgColor;
            position: relative;
            margin: auto;
            padding-top: 2em;
            padding-bottom: 100px;
            width: 60%;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 140%;

            .green-text {
                color: $greentextColor
            }

            .normal-text {
                color: $normalTextColor
            }
        }

        /* Loader (Courtesy of loading.io): */
        .loader-wrapper {
            position: absolute;
            display: flex;
            width: 100%;
            transform: translate(0, 40vh);
        }

        .lds-dual-ring {
            margin: auto;
            display: inline-block;
            width: 80px;
            height: 80px;
        }

        .lds-dual-ring:after {
            border: 3px solid $accentColor;
            border-color: $accentColor transparent $accentColor transparent;
            content: "";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        .dialogue-container {
            display: flex;
            /* background-color: rgb(0, 0, 0, 0.9); */
            position: absolute;
            z-index: 100;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .navbar {
        background-color: $navColor;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
        padding-right: 0.25em;
        padding-block: 10px;

        .nav-items-left {
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
        }

        .nav-items-right {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            max-width: calc(100vw - 260px);
            overflow-x: scroll;
        }

        .logo-text {
            color: $greentextColor;
            font-family: Arial, Helvetica, sans-serif;
            margin-right: 1em;
            font-weight: lighter;
            font-size: 1.2em;
        }

        .navbar-input {
            display: inline-block;
            background-color: $btnColor;
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            height: 100%;
            border: none;
            flex-shrink: 0;

            &:active {
                background-color: $btnColorActive;
            }

            &:hover {
                background-color: $btnColorHover;
            }

            &.delete {
                background-color: $deleteButtonColor;
            }

            &.selected {
                background-color: $btnColorActive;
                border: 2px solid $btnColor;
            }
        }

        select.navbar-input {
            padding-left: 1em;
            border-right: 1em solid transparent;
            padding-right: 0.8em;
        }

        button.navbar-input {
            min-width: 38px;
            width: 38px;
            margin-inline: 5px;
        }

        #add-stories-btn {
            width: 38px;
            margin-right: 0.25em;
            font-size: 1.15em;
        }
    }

    .dialogue {
        color: $btnTextColor;
        background-color: $navColor;
        border-radius: $btnBorderRadius;
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;

        &-header-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 1.6em;
        }


        &-title {
            color: $btnTextColor;
            font-weight: normal;
            font-size: 1.2em;
        }

        &-close-button {
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            font-size: 0.8em;
            background-color: transparent;
            border: none;
            width: 20px;
            height: 20px;

            &:hover {
                background-color: $btnColor;
            }
        }
    }

    .importer {
        input[type="file"] {
            display: block;
        }

        input {
            color: $btnTextColor;
            border: 1px solid $accentColor;
            border-radius: $btnBorderRadius;
            padding: 1em;
            width: 26em;
            margin: auto;
            margin-bottom: 1em;
        }

        .regular-button {
            background-color: $btnColor;
            color: $btnTextColor;
            border-radius: $btnBorderRadius;
            padding: 0.7em 1.2em;
            height: 100%;
            border: none;

            &:hover,
            &:active {
                background-color: $btnColorHover;
            }
        }
    }
}